@import url("https://fonts.googleapis.com/css2?family=Sulphur+Point&display=swap");

.page-five {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 8vmin;
  margin-bottom: 15rem;
  padding-top: 2rem;
  color: #fd6738;
  opacity: 0.8;
  background-color: #80c6dd33;
  position: relative;

  .fab {
    position: relative;
  }
  .fab:hover {
    animation: pulsate-bck 1.5s ease-in-out infinite both;
  }

  .fab:hover::after {
    position: absolute;
    font-family: "Sulphur Point", sans-serif;
    top: 1.5rem;
    left: 0;
    margin-left: 50%;
    transform: translate(-50%, -5rem);
    font-size: 2.5rem;
    animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.61, 0.355, 1)
      both;
  }

  .fa-html5:hover::after {
    content: "Html5";
  }
  .fa-css3-alt:hover::after {
    content: "CSS3";
  }
  .fa-js-square:hover::after {
    content: "Javascript";
  }
  .fa-bootstrap:hover::after {
    content: "Bootstrap";
  }
  .fa-sass:hover::after {
    content: "Scss";
  }
  .fa-react:hover::after {
    content: "React";
  }
  .fa-node-js:hover::after {
    content: "NodeJS";
  }
  .fa-git:hover::after {
    content: "Git";
  }
  .fa-php:hover::after {
    content: "Php";
  }
}

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
