@import url("https://fonts.googleapis.com/css2?family=Sulphur+Point&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sulphur+Point&display=swap");
.page_one {
  display: flex;
  font-family: "Sulphur Point", sans-serif;
  width: 100%;
  scroll-snap-align: start;
  background-image: url("../images/profile/profile.JPG");
  clip-path: polygon(30% 0%, 70% 0%, 100% 0, 100% 93%, 0 100%, 0 100%, 0% 70%, 0 0);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header_grid_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 50%;
  height: 100vh;
}

.header_grid_flex_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.header_flex_box_item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 5px;
  color: #83c6dd;
  font-weight: 900;
}

.symbol {
  color: #83c6dd;
}

.item_hi,
.item_im {
  color: white;
  transform: rotate(0deg);
  transition: color 1.5s, transform 1s ease-in-out;
}

.name {
  color: #fd673a;
  transform: rotate(0deg);
  transition: color 1.5s, transform 1s ease-in-out;
}

.item_hi_change {
  transform: rotate(180deg);
  transition: transform 0.5s ease-in-out;
  color: #83c6dd;
}

.item_im_change {
  transform: rotate(180deg);
  transition: transform 1.5s ease-in-out;
  color: #83c6dd;
}

.item_name_change {
  transform: rotate(180deg);
  transition: transform 2s ease-in;
  color: #83c6dd;
}

.page_two {
  background: #333;
  display: flex;
  font-family: "Sulphur Point", sans-serif;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  padding-bottom: 5rem;
}

.about_me_grid_container {
  font-family: "Sulphur Point", sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(1fr);
  padding: 4rem 0;
  z-index: 2;
  max-width: 800px;
  position: relative;
}

.about_grid_item_text-one {
  grid-column: 2/4;
  display: flex;
  text-align: start;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #fd673a;
  margin-bottom: 1rem;
  line-height: 2rem;
  padding: 2rem;
}

.about_grid_item_text-title {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  grid-column: 1/2;
  grid-row: 1/2;
  top: 10%;
  z-index: -1;
  font-size: 5rem;
  color: #333;
  padding: 2rem 0 0 2rem;
  line-height: 4rem;
}

.title-about {
  color: #fd673a;
}

.title-me {
  color: #83c6dd;
}

.about_grid_item_text-two {
  margin-top: 1rem;
  grid-column: 1/4;
  display: flex;
  text-align: start;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #83c6dd;
  padding: 0 2rem 2rem;
}

.page-five {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 8vmin;
  margin-bottom: 15rem;
  padding-top: 2rem;
  color: #fd6738;
  opacity: 0.8;
  background-color: #80c6dd33;
  position: relative;
}
.page-five .fab {
  position: relative;
}
.page-five .fab:hover {
  animation: pulsate-bck 1.5s ease-in-out infinite both;
}
.page-five .fab:hover::after {
  position: absolute;
  font-family: "Sulphur Point", sans-serif;
  top: 1.5rem;
  left: 0;
  margin-left: 50%;
  transform: translate(-50%, -5rem);
  font-size: 2.5rem;
  animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
.page-five .fa-html5:hover::after {
  content: "Html5";
}
.page-five .fa-css3-alt:hover::after {
  content: "CSS3";
}
.page-five .fa-js-square:hover::after {
  content: "Javascript";
}
.page-five .fa-bootstrap:hover::after {
  content: "Bootstrap";
}
.page-five .fa-sass:hover::after {
  content: "Scss";
}
.page-five .fa-react:hover::after {
  content: "React";
}
.page-five .fa-node-js:hover::after {
  content: "NodeJS";
}
.page-five .fa-git:hover::after {
  content: "Git";
}
.page-five .fa-php:hover::after {
  content: "Php";
}

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.page_three {
  margin: 0 auto;
  padding: 2rem;
  background: #333;
  position: relative;
  font-family: "Sulphur Point", sans-serif;
}

.projects_title {
  position: absolute;
  top: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 3.5rem;
}

.projects_title_text-one {
  color: #83c6dd;
}

.projects_title_text-two {
  color: #fd673a;
}

.projects_grid_container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 1rem;
  margin: 5rem auto;
  color: white;
}

.projects_grid_item {
  background-position: left;
  background-size: cover;
  width: 100%;
  height: 400px;
  filter: greyscale(100%);
  transition: filter 1s, background-position 0.5s ease-in-out;
  position: relative;
  overflow: hidden;
}

.react-portfolio {
  background-image: url("../images/profile/react-portfolio.png");
}

.alexia {
  background-image: url("../images/reactprojects/heat-code-2.png");
}

.rowe {
  background-image: url("../images/profile/rowe.png");
}

.rgba {
  background-image: url("../images/profile/rgbaGen.png");
}

.mercury-plastics {
  background-image: url("../images/profile/mp.png");
}

.alex-reid-physio {
  background-image: url("../images/profile/arp.png");
}

.grid_item_text {
  padding: 1rem;
  background: #444444ee;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  width: 50%;
  left: -15rem;
  transition: left 0.5s, opacity 0.5s;
  position: absolute;
  text-transform: uppercase;
}

.projects_grid_item:hover {
  transition: filter 1s, background-position 0.5s ease-in-out;
  filter: greyscale(0%);
  background-position: right;
}

.projects_grid_item:hover > .grid_item_text {
  opacity: 1;
  transition: left 0.5s, opacity 0.5s;
  left: 0rem;
}

.projects_grid_item .grid_item_text h2 {
  margin: 0;
  color: #83c6dd;
  letter-spacing: 0.5rem;
}

.projects_grid_item .grid_item_text ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.projects_grid_item .grid_item_text li {
  line-height: 2rem;
}

.projects_grid_item .grid_item_text li:nth-child(1) {
  color: #fd673a;
  font-size: 1.25rem;
}

.projects_grid_item a {
  padding: 5px 20px;
  letter-spacing: 0.25rem;
  background: #fd673a;
  margin-top: 1rem;
  border: 2px solid #fd673a;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.5rem;
  transition: color 0.5s, border 0.5s, background 0.5s;
}

.projects_grid_item a:hover {
  transition: color 0.5s, border 0.5s, background 0.5s;
  color: #fff;
  background: rgba(131, 198, 221, 0.5);
  border: 2px solid #fff;
}

.contact_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  border-bottom: 5px solid #fd673a;
  font-family: "Sulphur Point", sans-serif;
  position: relative;
  overflow: hidden;
}

.contact_container::after {
  content: "{:}";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #83c6dd;
  filter: drop-shadow(inset 0px 3px 3px #fff);
  font-size: 35vmax;
  opacity: 0.07;
  z-index: -1;
}

.contact_container::before {
  content: "{:}";
  position: absolute;
  top: 48%;
  left: 48%;
  transform: translate(-50%, -50%);
  color: #fd673a;
  filter: drop-shadow(inset 0px 3px 3px #fff);
  font-size: 35vmax;
  opacity: 0.07;
  z-index: -1;
}

.contact_left-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 2rem 3rem;
}

.contact_left-box span {
  font-size: 4.5rem;
}

.contact_left-box span:nth-child(1) {
  color: #83c6dd;
}

.contact_left-box span:nth-child(2) {
  color: #fd673a;
}

.contact_right-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 1.5rem;
  padding: 0 2rem;
}

.contact_right-box a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  font-size: 1.5rem;
}

.contact_links + .contact_links {
  margin-top: 2.5rem;
  font-size: 1.5rem;
}

.contact_links {
  transition: color 250ms ease-in;
  color: #999;
}

.contact_links:hover {
  transition: color 250ms ease-in;
  color: #fd673a;
}

.contact_links > span {
  transition: color 250ms ease-in;
  color: #999;
}

.contact_links:hover > span {
  transition: color 250ms ease-in;
  color: #83c6dd;
}

.doge-comment {
  width: 300px;
  height: 300px;
  background: url("../images/profile/doger.png");
  position: absolute;
  bottom: 3rem;
  right: 0;
  background-size: cover;
  animation: vibrate-2 0.9s linear infinite both;
  filter: drop-shadow(0px 3px 3px #666);
  transition: background 500ms ease-in-out;
  z-index: -5;
  opacity: 0;
}

.doge-comment:hover {
  animation: none;
}

.doge-comment:hover::after {
  content: "Pssst, just between you and ol' Doggo.... \aNick is paws down the best Javascript\a developer out there!\a. . . . . . . .\aHey, You got any treats??? ";
  font-family: "Sulphur Point", sans-serif;
  position: absolute;
  color: #333;
  top: -11rem;
  left: -100%;
  white-space: pre;
  background: #fff;
  padding: 2rem 2.5rem 6rem;
  font-weight: 600;
  font-size: 1.05rem;
  letter-spacing: 0.15rem;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  animation: tilt-in-fwd-br 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.doge-comment .doge-btn-close {
  position: absolute;
  bottom: 0;
  border-radius: 100%;
  padding: 0.5rem;
  border: none;
  background: transparent;
  color: #fd673a;
  font-size: 1.5rem;
}

.doge-comment .doge-btn-close:hover {
  cursor: pointer;
}

.show-doge {
  z-index: 3;
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

@keyframes tilt-in-fwd-br {
  0% {
    -webkit-transform: rotateY(20deg) rotateX(-35deg) translate(300px, 300px) skew(35deg, -10deg);
    transform: rotateY(20deg) rotateX(-35deg) translate(300px, 300px) skew(35deg, -10deg);
    opacity: 0;
  }
  50% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 0.1;
  }
  75% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}
@keyframes vibrate-2 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  40% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  60% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  80% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

body {
  margin: 0;
  background: #333;
  height: 100%;
}

.copyright {
  color: #999;
  font-family: "Sulphur Point", sans-serif;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #fd673a;
}

::-webkit-scrollbar-track-piece {
  background: #333;
}

.site_container {
  position: relative;
  width: 100%;
  scroll-behavior: smooth;
  overflow: auto;
  overflow: hidden;
}

.section_content_container {
  width: 100%;
  scroll-snap-align: start;
}

@media (max-width: 800px) {
  .about_grid_item_text-one {
    font-size: 1.25rem;
  }

  .about_grid_item_text-two {
    font-size: 1.25rem;
  }

  .show-doge {
    display: none;
  }
}
@media (max-width: 750px) {
  .page-five {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    align-items: center;
    gap: 10px;
    text-align: center;
    font-size: 10vmin;
    margin-bottom: 10rem;
    padding: 2rem 0;
    color: #fd6738;
    opacity: 0.8;
    background-color: #80c6dd33;
    position: relative;
  }

  .fab:hover::after {
    animation: none;
    display: none;
  }
}
@media (max-width: 650px) {
  .header_grid_container {
    width: 100%;
  }

  .page_one {
    display: flex;
    flex-direction: column;
  }

  .page_two {
    padding-bottom: 7rem;
  }

  .about_grid_item_text-one {
    font-size: 1.25rem;
    grid-column: 1/4;
    line-height: 1.75rem;
  }

  .about_grid_item_text-title {
    position: inherit;
    display: block;
    grid-row: 1/2;
  }

  .about_grid_item_text-two {
    margin-top: 0;
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .projects_grid_container {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }

  .contact_left-box span {
    font-size: 3rem;
  }
}
@media (max-width: 530px) {
  .page_two {
    padding-bottom: 0rem;
  }

  .projects_grid_container {
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    padding: 0 1rem;
  }

  .about_grid_item_text-one {
    padding: 1rem;
  }

  .about_grid_item_text-title {
    padding: 1rem;
  }

  .about_grid_item_text-two {
    padding: 1rem;
  }

  .page_three {
    margin: 0 auto;
    padding: 2rem 0rem 0rem;
    background: #333;
    position: relative;
  }

  .grid_item_text {
    width: 100%;
  }

  .projects_title {
    font-size: 2.5rem;
    text-align: center;
  }

  .projects_title_text-one {
    padding-left: 1rem;
  }

  .projects_title_text-two {
    padding-right: 1rem;
  }

  .contact_container {
    flex-direction: column;
    margin-bottom: 5rem;
    border-bottom: 0px;
  }

  .contact_left-box {
    padding: 2rem 1rem 3rem;
  }

  .contact_left-box span {
    font-size: 4rem;
  }

  .contact_right-box {
    padding: 0 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
